table{
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3f51b5;
    color: white;
}

.print-link {
    cursor: pointer;
}
.filters{
    display: inline-block;
    margin-right: 30px;
}
.total-container{
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;
}
.actions{
    text-align: center;
}